.productpage
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.lavenderflowerknit
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:470px;
top:128px;
position:absolute;
width:778px;
}
.navbar
{
height:60px;
width:1400px;
padding:0px;
border-style:hidden;
outline:none;
top:20px;
left:20px;
position:absolute;
}
.rectangle
{
background-color:rgba(255, 255, 255, 0);
height:60px;
width:1400px;
}
.frame4
{
height:24px;
width:495px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
position:absolute;
top:18px;
left:145px;
}
.logo
{
color:#ffcc99;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:124px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.shop
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:156px;
top:1.5px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:46px;
display:flex;
}
.stories
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:234px;
top:1.5px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:71px;
display:flex;
}
.about
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:337px;
top:1.5px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:45px;
display:flex;
}
.group6
{
align-self:flex-start;
left:414px;
top:1.5px;
position:absolute;
width:81px;
height:21px;
}
.search
{
background-color:#000000;
height:16px;
width:15.848501205444336px;
left:414px;
top:4.5px;
position:absolute;
}
.path
{
height:16px;
width:15.848501205444336px;
width:15.848501205444336px;
height:16px;
left:414px;
top:4.5px;
width:15.848501205444336px;
height:16px;
position:absolute;
}
.path2
{
height:10.150446891784668px;
width:10.150446891784668px;
width:10.150446891784668px;
height:10.150446891784668px;
left:415.39px;
top:5.89px;
width:10.150446891784668px;
height:10.150446891784668px;
position:absolute;
}
.about2
{
color:#979797;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
left:442px;
top:1.5px;
width:53px;
height:21px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
}
.line1
{
width:1400px;
border:1px solid #000000;
top:60px;
left:0px;
position:absolute;
}
.frame5
{
height:21.012765884399414px;
width:97.7529296875px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:22px;
position:absolute;
top:20px;
left:1161px;
}
.group4
{
width:33.7529296875px;
height:21.012765884399414px;
}
.3
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:8px;
}
.vector
{
background-color:#89664f;
height:21.012765884399414px;
width:18.037418365478516px;
}
.login
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:55.75px;
top:0px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:42px;
display:flex;
}
.freeshopping
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:560px;
top:691px;
width:197px;
height:22px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:20px;
border-style:hidden;
outline:none;
}
.freereturnslink
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:776px;
top:691px;
width:197px;
height:22px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:20px;
text-decoration:underline;
border-style:hidden;
outline:none;
}
.addtocartbutton
{
height:54px;
width:458px;
padding:0px;
border-style:hidden;
outline:none;
top:624px;
left:561px;
position:absolute;
}
.button2
{
width:458px;
height:54px;
position:absolute;
}
.base
{
background-color:#ffe5b4;
height:54px;
width:458px;
border:1px solid #ffe5b4;
}
.buttontext
{
color:#0a0a0a;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
left:188.77px;
top:15.11px;
position:absolute;
width:82px;
}
.quantity
{
width:130.76922607421875px;
height:91.50372314453125px;
top:586.63px;
left:1042.53px;
position:absolute;
}
.quantityinput
{
background-color:#ffffff;
height:54.46650314331055px;
width:130.76922607421875px;
padding-left:10px;
padding-right:10px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
top:623.67px;
left:1042.53px;
}
.subtract
{
height:20px;
width:20px;
align-self:flex-start;
left:10px;
top:17.23px;
position:absolute;
padding:0px;
}
.round-content/remove
{
width:11.666667938232422px;
height:1.6666669845581055px;
left:4.16px;
top:9.16px;
position:absolute;
}
.🔹iconcolor
{
background-color:#0d0d0d;
height:1.6666669845581055px;
width:11.666667938232422px;
width:11.666667938232422px;
height:1.6666669845581055px;
left:0px;
top:0px;
position:absolute;
}
.quantitynumber
{
color:#0d0d0d;
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
align-self:flex-start;
left:60.88px;
top:14.23px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:26px;
border-style:hidden;
outline:none;
width:9px;
display:flex;
}
.add2
{
height:20px;
width:20px;
align-self:flex-start;
left:100.76px;
top:17.23px;
position:absolute;
padding:0px;
}
.round-content/add
{
width:11.666667938232422px;
height:11.666667938232422px;
left:4.16px;
top:4.16px;
position:absolute;
}
.🔹iconcolor2
{
background-color:#0d0d0d;
height:11.666667938232422px;
width:11.666667938232422px;
width:11.666667938232422px;
height:11.666667938232422px;
left:0px;
top:0px;
position:absolute;
}
.quantity4
{
color:#4f260a;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Public Sans;
left:1042.53px;
top:586.63px;
width:103.30769348144531px;
height:28.322580337524414px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:26px;
border-style:hidden;
outline:none;
}
.sizes
{
width:294.2307434082031px;
height:94.77171325683594px;
top:503.84px;
left:560px;
position:absolute;
}
.sizes2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Public Sans;
left:560px;
top:503.84px;
width:45.769229888916016px;
height:28.322580337524414px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:26px;
border-style:hidden;
outline:none;
}
.sizesoptions
{
height:54.46650314331055px;
width:292.9230651855469px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:absolute;
top:544.15px;
left:561.3px;
}
.secondary
{
height:50px;
width:50px;
padding:0px;
border-style:hidden;
outline:none;
}
.buttonoutlined
{
width:50px;
height:50px;
position:absolute;
}
.base2
{
background-color:rgba(0, 0, 0, 0);
height:50px;
width:50px;
border:1px solid #0d0d0d;
}
.buttontext2
{
color:#0d0d0d;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
left:19.87px;
top:14px;
position:absolute;
width:11px;
}
.secondary2
{
height:50px;
width:50px;
align-self:flex-start;
left:58px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.buttonoutlined2
{
width:50px;
height:50px;
position:absolute;
}
.base3
{
background-color:rgba(255, 229, 180, 0);
height:50px;
width:50px;
border:1px solid #ffe5b4;
}
.buttontext3
{
color:#ffe5b4;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
left:17.87px;
top:14px;
position:absolute;
width:15px;
}
.secondary3
{
height:50px;
width:50px;
align-self:flex-start;
left:116px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.buttonoutlined3
{
width:50px;
height:50px;
position:absolute;
}
.base4
{
background-color:rgba(0, 0, 0, 0);
height:50px;
width:50px;
border:1px solid #0d0d0d;
}
.buttontext4
{
color:#0d0d0d;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
left:19.87px;
top:14px;
position:absolute;
width:10px;
}
.secondary4
{
height:50px;
width:50px;
align-self:flex-start;
left:174px;
top:0px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.price
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Public Sans;
left:561px;
top:261px;
width:679px;
height:28px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:26px;
border-style:hidden;
outline:none;
}
.description
{
color:#0d0d0d;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Public Sans;
left:562px;
top:302px;
width:467px;
height:122px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:28px;
border-style:hidden;
outline:none;
}
.description2
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Public Sans;
left:560px;
top:458px;
width:192px;
height:31px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:28px;
border-style:hidden;
outline:none;
}
.image1
{
height:563px;
width:356px;
left:78px;
top:128px;
position:absolute;
}
.rectangle35
{
background-color:#000000;
height:45px;
width:1400px;
top:1120px;
left:27px;
position:absolute;
}
.copyrightssite.com.allrightsreserved
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:504px;
top:1133px;
width:450px;
height:19px;
position:absolute;
letter-spacing:2px;
line-height:auto;
border-style:hidden;
outline:none;
}
.hire
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:649px;
top:813px;
width:45px;
height:22px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
}
.ourtalentfreelance
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:649px;
top:856px;
width:190px;
height:130px;
position:absolute;
letter-spacing:-0.20000000298023224px;
line-height:26px;
border-style:hidden;
outline:none;
}
.about3
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:860px;
top:813px;
width:38px;
height:22px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
}
.ourmissionourstor
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:860px;
top:856px;
width:190px;
height:52px;
position:absolute;
letter-spacing:-0.20000000298023224px;
line-height:26px;
border-style:hidden;
outline:none;
}
.blog
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:1072px;
top:813px;
width:29px;
height:22px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
}
.businessstoriesdig
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:1072px;
top:856px;
width:190px;
height:104px;
position:absolute;
letter-spacing:-0.20000000298023224px;
line-height:26px;
border-style:hidden;
outline:none;
}
.blog2
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:1270px;
top:806px;
width:35px;
height:22px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
}
.businessstoriesdig2
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:1270px;
top:849px;
width:190px;
height:52px;
position:absolute;
letter-spacing:-0.20000000298023224px;
line-height:26px;
border-style:hidden;
outline:none;
}
.title
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Public Sans;
left:152px;
top:805.56px;
width:401px;
height:39.7109375px;
position:absolute;
letter-spacing:-1.5px;
line-height:44px;
border-style:hidden;
outline:none;
}
.emailinput
{
height:40px;
width:398px;
padding:0px;
left:152px;
top:907.22px;
position:relative;
}
.rectangle3
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
top:11.5px;
left:16px;
position:absolute;
width:90px;
}
.signup
{
color:#705138;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:484px;
top:919.22px;
width:51px;
height:16px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.bethefirsttoknowaboutourspecialoffers,news,andupdates.
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:152px;
top:866px;
width:400px;
height:16px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.line13
{
width:1300px;
border:1px solid #5e5e5e;
top:779px;
left:79px;
position:absolute;
}
