.checkoutpage
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.yourpaymentdetails
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Public Sans;
letter-spacing:-0.4000000059604645px;
line-height:28px;
border-style:hidden;
outline:none;
left:131px;
top:604px;
position:absolute;
width:372px;
}
.elements-checkbox/on
{
height:20px;
width:36px;
padding:0px;
left:234px;
top:986px;
position:relative;
}
.default
{
height:69px;
width:963px;
padding:0px;
border-style:hidden;
outline:none;
top:881px;
left:234px;
position:absolute;
}
.button
{
width:963px;
height:69px;
position:absolute;
}
.base
{
background-color:#ffcc99;
height:69px;
width:963px;
border:1px solid #ffcc99;
}
.buttontext
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
letter-spacing:-0.4000000059604645px;
line-height:22px;
border-style:hidden;
outline:none;
left:435.71px;
top:19.31px;
position:absolute;
width:97px;
}
.savecarddataforfuturepayments
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Public Sans;
left:239px;
top:813px;
width:532px;
height:22px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.switch
{
height:39px;
width:66px;
padding:0px;
border-style:hidden;
outline:none;
top:804px;
left:500px;
position:absolute;
}
.rectangle24
{
background-color:#0d0d0d;
height:39px;
width:66px;
border-radius:50px;
}
.ellipse1
{
background-color:#ffffff;
height:29.25px;
width:30.461536407470703px;
top:4.87px;
left:29.82px;
position:absolute;
border-radius:50%;
}
.frame29
{
height:149px;
width:727px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
left:134px;
top:653px;
position:relative;
}
.input
{
height:40px;
width:398px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.rectangle2
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
left:16px;
top:11.5px;
position:absolute;
width:110px;
}
.input3
{
height:40px;
width:398px;
padding:0px;
border-style:hidden;
outline:none;
top:50px;
left:0px;
position:absolute;
}
.rectangle3
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname2
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:84px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.group28
{
width:398px;
height:40px;
top:100px;
left:0px;
position:absolute;
}
.input5
{
height:40px;
width:126px;
padding:0px;
border-style:hidden;
outline:none;
top:100px;
left:272px;
position:absolute;
}
.rectangle4
{
background-color:#ffffff;
height:40px;
width:126px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname3
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:28px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.dropdowninput
{
height:40px;
width:122px;
padding:0px;
border-style:hidden;
outline:none;
top:100px;
left:0px;
position:absolute;
}
.rectangle5
{
background-color:#ffffff;
height:40px;
width:122px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname4
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:41px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.icons-chevrondown
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:90px;
top:8px;
position:absolute;
}
.color
{
background-color:#000000;
height:6.585000038146973px;
width:11.175000190734863px;
width:11.175000190734863px;
height:6.585000038146973px;
left:0px;
top:0.9975004196166992px;
position:absolute;
}
.dropdowninput2
{
height:40px;
width:122px;
padding:0px;
border-style:hidden;
outline:none;
top:100px;
left:138px;
position:absolute;
}
.rectangle6
{
background-color:#ffffff;
height:40px;
width:122px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname5
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:28px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.icons-chevrondown2
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:90px;
top:8px;
position:absolute;
}
.color2
{
background-color:#000000;
height:6.585000038146973px;
width:11.175000190734863px;
width:11.175000190734863px;
height:6.585000038146973px;
left:0px;
top:0.9975004196166992px;
position:absolute;
}
.paypal
{
width:280.6266784667969px;
height:40.763710021972656px;
top:540px;
left:133.15px;
position:absolute;
}
.rectangle1
{
background-color:#ffffff;
height:40.763710021972656px;
width:280.6266784667969px;
border:1px solid #1d4d90;
top:540px;
left:133.15px;
position:absolute;
}
.paypal1
{
height:17.001333236694336px;
width:109.72599792480469px;
left:219.1px;
top:551.68px;
position:absolute;
}
.applepay
{
width:280.6266784667969px;
height:40.763710021972656px;
top:540px;
left:425.75px;
position:absolute;
}
.rectangle52
{
background-color:#ffcc99;
height:40.763710021972656px;
width:280.6266784667969px;
top:540px;
left:425.75px;
position:absolute;
}
.creditcard
{
color:#000000;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:500.73px;
top:551.68px;
width:131.67120361328125px;
height:17.001333236694336px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.yourpaymentdetails2
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Public Sans;
left:131px;
top:139px;
width:203px;
height:33px;
position:absolute;
letter-spacing:-0.4000000059604645px;
line-height:28px;
border-style:hidden;
outline:none;
}
.frame30
{
height:290px;
width:398px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
left:132px;
top:184px;
position:relative;
}
.group30
{
width:398px;
height:40px;
}
.input11
{
height:40px;
width:195px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.rectangle9
{
background-color:#ffffff;
height:40px;
width:195px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname6
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
left:16px;
top:11.5px;
position:absolute;
width:69px;
}
.input13
{
height:40px;
width:196px;
padding:0px;
border-style:hidden;
outline:none;
}
.rectangle10
{
background-color:#ffffff;
height:40px;
width:196px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname7
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
width:68px;
}
.input15
{
height:40px;
width:398px;
padding:0px;
border-style:hidden;
outline:none;
top:50px;
left:0px;
position:absolute;
}
.rectangle11
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname8
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:52px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.input17
{
height:40px;
width:398px;
padding:0px;
border-style:hidden;
outline:none;
top:100px;
left:0px;
position:absolute;
}
.rectangle12
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname9
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:192px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.input19
{
height:40px;
width:398px;
padding:0px;
border-style:hidden;
outline:none;
top:150px;
left:0px;
position:absolute;
}
.rectangle13
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname10
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:26px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.group282
{
width:398px;
height:40px;
top:200px;
left:0px;
position:absolute;
}
.input21
{
height:40px;
width:126px;
padding:0px;
border-style:hidden;
outline:none;
top:200px;
left:272px;
position:absolute;
}
.rectangle14
{
background-color:#ffffff;
height:40px;
width:126px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname11
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:51px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.dropdowninput3
{
height:40px;
width:122px;
padding:0px;
border-style:hidden;
outline:none;
top:200px;
left:0px;
position:absolute;
}
.rectangle15
{
background-color:#ffffff;
height:40px;
width:122px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname12
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:50px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.icons-chevrondown3
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:90px;
top:8px;
position:absolute;
}
.color3
{
background-color:#000000;
height:6.585000038146973px;
width:11.175000190734863px;
width:11.175000190734863px;
height:6.585000038146973px;
left:0px;
top:0.9975004196166992px;
position:absolute;
}
.dropdowninput4
{
height:40px;
width:122px;
padding:0px;
border-style:hidden;
outline:none;
top:200px;
left:138px;
position:absolute;
}
.rectangle16
{
background-color:#ffffff;
height:40px;
width:122px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname13
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:26px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.icons-chevrondown4
{
background-color:#ffffff;
height:24px;
width:24px;
padding:0px;
left:90px;
top:8px;
position:absolute;
}
.color4
{
background-color:#000000;
height:6.585000038146973px;
width:11.175000190734863px;
width:11.175000190734863px;
height:6.585000038146973px;
left:0px;
top:0.9975004196166992px;
position:absolute;
}
.input27
{
height:40px;
width:398px;
padding:0px;
border-style:hidden;
outline:none;
top:250px;
left:0px;
position:absolute;
}
.rectangle17
{
background-color:#ffffff;
height:40px;
width:398px;
filter:drop-shadow(0px 2px 2px rgba(0.25,0.25,0.25,0.25));
border:0.5px solid #000000;
}
.inputname14
{
color:#a8aabd;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Public Sans;
left:16px;
top:11.5px;
width:54px;
height:17px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.savecontactinformation
{
color:#979797;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Public Sans;
left:162px;
top:499px;
width:156px;
height:16px;
position:absolute;
letter-spacing:-0.30000001192092896px;
line-height:auto;
border-style:hidden;
outline:none;
}
.default2
{
height:19.615385055541992px;
width:20px;
padding:0px;
border-style:hidden;
outline:none;
top:497px;
left:132px;
position:absolute;
}
.group4
{
width:20px;
height:19.615385055541992px;
}
.checkboxoff
{
height:19.615385055541992px;
width:20px;
border:1px solid #0d0d0d;
}
.navbar
{
height:60px;
width:1400px;
padding:0px;
border-style:hidden;
outline:none;
top:13px;
left:20px;
position:absolute;
}
.rectangle18
{
background-color:rgba(255, 255, 255, 0);
height:60px;
width:1400px;
}
.frame4
{
height:24px;
width:495px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:32px;
position:absolute;
top:18px;
left:145px;
}
.logo
{
color:#ffcc99;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:124px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.shop
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:156px;
top:1.5px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:46px;
display:flex;
}
.stories
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:234px;
top:1.5px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:71px;
display:flex;
}
.about
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:337px;
top:1.5px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:45px;
display:flex;
}
.group6
{
align-self:flex-start;
left:414px;
top:1.5px;
position:absolute;
width:81px;
height:21px;
}
.search
{
background-color:#000000;
height:16px;
width:15.848501205444336px;
left:414px;
top:4.5px;
position:absolute;
}
.path
{
height:16px;
width:15.848501205444336px;
width:15.848501205444336px;
height:16px;
left:414px;
top:4.5px;
width:15.848501205444336px;
height:16px;
position:absolute;
}
.path2
{
height:10.150446891784668px;
width:10.150446891784668px;
width:10.150446891784668px;
height:10.150446891784668px;
left:415.39px;
top:5.89px;
width:10.150446891784668px;
height:10.150446891784668px;
position:absolute;
}
.about2
{
color:#979797;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
left:442px;
top:1.5px;
width:53px;
height:21px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
}
.line1
{
width:1400px;
border:1px solid #000000;
top:60px;
left:0px;
position:absolute;
}
.frame5
{
height:21.012765884399414px;
width:97.7529296875px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:22px;
position:absolute;
top:20px;
left:1161px;
}
.group42
{
width:33.7529296875px;
height:21.012765884399414px;
}
.312
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:8px;
}
.vector
{
background-color:#89664f;
height:21.012765884399414px;
width:18.037418365478516px;
}
.login
{
color:#89664f;
text-align:left;
vertical-align:text-top;
font-size:17px;
font-family:Inter;
align-self:flex-start;
left:55.75px;
top:0px;
position:absolute;
letter-spacing:-0.6000000238418579px;
line-height:auto;
border-style:hidden;
outline:none;
width:42px;
display:flex;
}
.rectangle30
{
background-color:#ffffff;
height:89px;
width:396px;
border-radius:10px;
border:2px solid #000000;
top:184px;
left:883px;
position:absolute;
}
.box-button
{
height:89px;
width:396px;
padding:0px;
border-style:hidden;
outline:none;
top:184px;
left:883px;
position:absolute;
}
.rectangle31
{
background-color:#ffffff;
height:89px;
width:396px;
border:2px solid #000000;
}
.toggled
{
height:19.615385055541992px;
width:20px;
padding:0px;
border-style:hidden;
outline:none;
top:25px;
left:19px;
position:absolute;
}
.ups-uspssurepost
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:56px;
top:23px;
width:151px;
height:19px;
position:absolute;
letter-spacing:-0.35555556416511536px;
line-height:auto;
border-style:hidden;
outline:none;
}
.-7businessdays
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:56px;
top:53px;
width:129px;
height:19px;
position:absolute;
letter-spacing:-0.35555556416511536px;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle312
{
background-color:#ffffff;
height:89px;
width:396px;
border:2px solid #000000;
top:289px;
left:883px;
position:absolute;
}
.group7
{
width:20px;
height:19.615385055541992px;
position:absolute;
top:0px;
left:0px;
}
.checkboxoff2
{
height:19.615385055541992px;
width:20px;
border:1px solid #0d0d0d;
}
.box-button2
{
width:396px;
height:89px;
top:291px;
left:883px;
position:absolute;
}
.rectangle313
{
background-color:rgba(255, 255, 255, 0);
height:89px;
width:396px;
border:2px solid #000000;
top:291px;
left:883px;
position:absolute;
}
.default3
{
height:19.615385055541992px;
width:20px;
padding:0px;
border-style:hidden;
outline:none;
top:316px;
left:902px;
position:absolute;
}
.group8
{
width:20px;
height:19.615385055541992px;
}
.checkboxoff3
{
height:19.615385055541992px;
width:20px;
border:1px solid #0d0d0d;
}
.upsgroundshipping
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:939px;
top:314px;
width:158px;
height:19px;
position:absolute;
letter-spacing:-0.35555556416511536px;
line-height:auto;
border-style:hidden;
outline:none;
}
.-5businessdays
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Public Sans;
left:939px;
top:344px;
width:132px;
height:19px;
position:absolute;
letter-spacing:-0.35555556416511536px;
line-height:auto;
border-style:hidden;
outline:none;
}
.default4
{
height:19.615385055541992px;
width:20px;
padding:0px;
border-style:hidden;
outline:none;
top:212px;
left:902px;
position:absolute;
}
.group9
{
width:20px;
height:19.615385055541992px;l
}
.checkboxoff4
{
height:19.615385055541992px;
width:20px;
border:1px solid #0d0d0d;
}
.title
{
color:#705138;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Public Sans;
left:65px;
top:84px;
width:152px;
height:44px;
position:absolute;
letter-spacing:-1.5px;
line-height:44px;
border-style:hidden;
outline:none;
}
